:root {
  --Schedule-recnet-icon-color: #ffb281;
  --Schedule-text-icon-color: #3c332b;
}

.Schedule {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 19.72px;
  margin-right: 32.08px;
}

.Schedule-maincontainer,
.Schedule-emptycontainer {
  display: flex;
  width: 126px;
  height: 72.35px;
  border-radius: 15px;
  background: #fff;
  flex-direction: column;
  justify-content: center;
}
.Schedule-emptycontainer {
  opacity: 0.6;
}
.Schedule-recnet-icon {
  width: 39.345px;
  height: 13.669px;
  border-radius: 12.753px;
  background: var(--Schedule-recnet-icon-color);
  color: var(--Schedule-text-icon-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Pretendard;
  font-size: 5.951px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Schedule-date {
  color: #858585;
  font-family: Pretendard;
  font-size: 7px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Schedule-title {
  color: var(--Schedule-text-icon-color);
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-self: center;
  margin-top: 5.5px;
  margin-bottom: 4.5px;
}
.Schedule-main2conatainer {
  display: flex;
  flex-direction: column;
  margin-left: 7.5px;
  gap: 5px;
}
.Schedule-time {
  color: #878787;
  text-align: right;
  font-family: Pretendard;
  font-size: 7px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 5px;
}
