.timetable-container {
    display: flex;
    position: relative;
    width: 18rem;
    height: 26rem;
    padding: 0rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    background-color: #fff;
;
  }
  .tt-term{
    position:relative;
    display: flex;
    color: #101b49;
    font-family: Pretendard, sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
  }
  
  .timetable-grid {
    display: grid;
    grid-template-columns: 1rem repeat(7, 1fr); /* 시간 + 요일 7개 */
    grid-template-rows: 1rem repeat(13, 1fr); /* 요일 라벨 + 13시간 */
    background-color: #ffffff;
    overflow: cover;
  }
  
  /* 시간 라벨 */
  .timetable-grid > .hour-label {
    grid-column: 1;
    text-align: right;
    font-size: 0.75rem;
    font-weight: 400;
    display: flex;
    color: #b8b8b8;
    align-items: space-between;
    justify-content: flex-end;
  
  }
  /* 요일 라벨 */
  .day-header {
    text-align: center;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #b8b8b8;
    margin-left: 1rem;
    margin-bottom: 0.75rem;
  } 
  
  /* 수업 블록 */
  .class-block {
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 0.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
    line-height: 1.7;
  }
  