.department-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: 20px;
  justify-content: flex-end;
  margin-left: -820px;
  margin-bottom: -40px;
}
.department-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 126.33px;
  height: 30.098px;
  border-radius: 15px;
  background: var(--white, #fff);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.department-selector {
  cursor: pointer;
}

.department-selector.selected {
  background-color: #8b8b8b;
  color: white;
}
@media (max-width: 1100px) {
  .department-container {
    margin-left: -508px;
  }
}
