.mypage-modal-content {
  height: 900px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 28.433px;
  background: conic-gradient(
    from 122deg at 47.97% 52.33%,
    #eeeefd 27.67605721950531deg,
    #dde7f4 114.66499328613281deg,
    #e9f2ff 246.04843139648438deg
  );
  backdrop-filter: blur(1.8955460786819458px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Mypage-Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  justify-content: center;
}
.MyPage-All {
  display: flex;
  gap: 60px;
}
.MyPage-left {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.Mypage-Profile-img {
  width: 110px;
  height: 110px;
  background-color: rgb(211, 211, 211);
  border-radius: 50%;
}
.Mypage-Profile-name {
  color: #6f6f6f;
  font-size: 20px;
  font-weight: 700;
}
.Mypage-Profile-buttons {
  display: flex;
  gap: 20px;
}
.Mypage-Profile-button {
  width: 100px;
  height: 30px;
  border-radius: 4.739px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6f6f6f;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
}
.Mypage-Select {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Mypage-Selecter {
  width: 250px;
  height: 70px;
  border-radius: 40px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
  color: #101b49;
}
.Mypage-Selecter.selected {
  background: #101b49;
  color: #e5effd;
}
.Mypage-Selecter.selected .Mypage-Selecter-secondText {
  color: #c0dbff;
}
.Mypage-Selecter-num {
  font-size: 22px;
  font-weight: 600;
  width: 30px;
  margin-left: 10px;
}
.Mypage-Selecter-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.Mypage-Selecter-mainText {
  font-size: 22px;
  font-weight: 600;
  width: 100px;
}
.Mypage-Selecter-secondText {
  font-size: 12px;
  margin-top: 3px;
  width: 150px;
}
.MyPage-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.MyPage-Title {
  color: #6f6f6f;
  font-size: 30px;
  font-weight: 700;
}
.MyPage-Content {
  height: 670px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 7.134px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0px 0.713px 21.401px 0px rgba(217, 217, 217, 0.54);
}
