:root {
  --Search-new-platform: #ffeee3;
}

.Search-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30.3px;
  margin-bottom: -20.54px;
  gap: 40px;
}

.Search-bar {
  width: 554px;
  height: 61px;
  border-radius: 50px;
  background: var(--searchbar-background-color);
  color: var(--searchbar-font-color);
  border: var(--button-border);
  font-size: 15px;
  font-family: 'Pretendard';
  padding-left: 60px;
  transition: 0.3s ease;
}
.Search-bar::placeholder {
  color: var(--searchbar-font-color);
  transition: all 0.3s ease;
}
.Search-bar:focus {
  outline: none;
}

.Search-container {
  position: relative;
  display: inline-block;
}

.Search-img {
  position: absolute;
  top: 31%;
  left: 22px;
}

.Search-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 54px;
  justify-content: center;
}
.Search-Each-button-container {
  border-radius: 20px;
}
.Search-Each-button,
.Search-Each-button_add {
  width: 103px;
  height: 88.816px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--button-background-color);
  box-shadow: 0px 2px 4px 0px rgba(255, 255, 255, 0.25);
  border: var(--button-border);
  color: #484848;
  text-align: center;
  font-family: 'Pretendard';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
  align-items: center;
  padding-top: 14px;
  cursor: pointer;
}

.Search-Each-button_add {
  gap: 13px;
  padding-top: 24px;
}

.Search-Each-button-container:hover,
.Search-Each-button_add:hover {
  outline: 1px solid #dbd7d4;
  box-shadow: 0px 1px 10px 0px #dbd7d4;
}

.Platform-icon {
  width: 50px;
  height: 50px;
}

.Favicon-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 3px;
}
.Delete-button {
  position: absolute;
  display: none;
  top: 20.5%;
  transform: translateX(315%);
  background: none;
  border: none;
  cursor: pointer;
}

.Search-Each-button-container:hover .Delete-button {
  display: block;
  transition: all 0.3s ease;
}
.Add-platform-form {
  width: 613px;
  height: 401.792px;
  border-radius: 15px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.Add-platform-form label {
  background: none;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
  margin-left: 3px;
}
.Add-plaform-maintxt {
  color: #000;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: flex-start;
  margin-left: 35px;
}
.Search-new-platform {
  display: flex;
  flex-direction: column;
}
.Search-new-platform-name,
.Search-new-platform-URL {
  width: 519.295px;
  height: 54.817px;
  border-radius: 15px;
  background: var(--Search-new-platform);
  border: none;
  padding-left: 20px;
  font-size: 15px;
}
.Search-new-platform input:focus {
  outline: 1px solid rgba(143, 143, 143, 0.5);
}
.Search-newplatfrom-sumbit {
  width: 117.115px;
  height: 38.301px;
  border-radius: 15px;
  background: var(--Search-new-platform);
  border: none;
  color: #000;

  text-align: center;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 26%;
}
.Search-newplatfrom-sumbit:hover {
  background-color: #bbbbbb;
}
.custom-close-button {
  width: 117.115px;
  height: 38.301px;
  border-radius: 15px;
  background: #f0f1f3;
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  position: absolute;
  top: 84%;
  left: 75%;
}
.custom-close-button:hover {
  background: rgb(192, 192, 192);
}

.SearchBoxConatiner {
  width: 138px;
  height: 30.353px;
  background: white;
  display: flex;
  margin-left: 953px;
  justify-content: flex-end;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 10px;
}

.SearchBoxicon {
  margin-right: 10px;
}
@media (max-width: 800px) {
  .Search-bar {
    width: 354px;
  }
  .Search-buttons {
    gap: 30px;
  }
}

@media (max-width: 600px) {
  .Search-bar {
    width: 254px;
  }
}
