.NoticeSelector-main {
  display: flex;
  width: 1090px;
  height: 52px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.57);
}
.NoticeSelector-sector {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 187.75px;
  height: 38.899px;
  flex-shrink: 0;
  border-radius: 10px;
  background: none;
  color: #3c332b;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: background-color 0.3s;
  cursor: pointer;
}
.NoticeSelector-sector.selected {
  background: #dbd7d4;
}
.NoticeSelector-sector:not(.selected):hover {
  background-color: #e6e6e6;
}
.NoticeSelector-main2 {
  display: flex;
}
.tab {
  padding: 10px 20px;
  cursor: pointer;
  color: #888;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid transparent;
}

.tab.active {
  color: #000;
  font-weight: bold;
  border-bottom: 2px solid #000;
}

.tab:not(.active):hover {
  color: #2d2d2d;
}
