@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

body {
  margin: 0;
  font-family: 'Pretendard';
  user-select: none;
  background: #f5f3f0;
  overflow-x: hidden;
}
